<!-- JSON-LD -->
{{ if .IsHome }}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ .Permalink }}",
    "name": "{{ .Site.Title }}",
    "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}"
    },
    "description": "{{ .Site.Params.description }}",
    "keywords" : [{{ with .Site.Params.keywords }}{{ range . }}"{{ . }}", {{ end }}{{ end }}"{{ .Site.Title }}"]
}
</script>
{{ end }} 
{{ if .IsPage }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "{{ .Site.BaseURL }}"
    },
    "articleSection" : "{{ .Section }}",
    "name" : "{{ .Title }}",
    "headline" : "{{ .Title }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ replace .Summary "\\" "\\\\" |  safeHTML }}{{ end }}{{ end }}",
    "inLanguage" : "{{ .Site.LanguageCode }}",
    "author" : {
        "@type" : "Person",
        "name" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}"
    },
    "creator" : {
        "@type" : "Person",
        "name" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}"
    },
    "publisher": {
        "@type" : "Organization",
        "name" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}",
        "logo": {
            "@type": "ImageObject",
            "name": "Avatar",
            "width": "60",
            "height": "60",
            "url": "{{ .Site.Params.avatar }}"
        }
    },
    "accountablePerson" : {
        "@type" : "Person",
        "name" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}"
    },
    "copyrightHolder" : {
        "@type" : "Person",
        "name" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}"
    },
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date }}",
    "dateModified" : "{{ .Lastmod }}",
    "url" : "{{ .Permalink }}",
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }} {{with .Site.Title}}"{{ . }}"{{ end }}],
    "image" : "{{ if isset .Params "featured_image" }}{{ .Params.featured_image }}{{ else }}{{ .Site.Params.avatar }}{{ end }}"
}
</script>
{{ end }}